.results {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 30px 20px;
    margin: 3rem auto;
    display:inline-flexbox;
    text-align: center;
    div{
        padding:0.7rem;
    }
    .label {
        color: rgb(0, 157, 120);
    }
   
}